<div class="bg-secondary container-fluid">
    <!-- Espacement pour les fixed items-->
    <div class="row mt-md-3"></div>
    <div class="row mt-md-5"></div>
    <div class="row mt-md-5"></div>

    <app-statistics class=""></app-statistics>

    <div class="row d-md-none">
        <div class="col-lg-6 col-12">
            <app-dice></app-dice>
        </div>
    </div>
    <!--  Dés End  -->

    <div class="row">
        <div class="col-lg-6 col-12">
            <app-informations></app-informations>
            <app-armes></app-armes>
        </div>
        <div class="col-lg-6 col-12">
            <app-inventory></app-inventory>
        </div>
    </div>

    <div class="row">
        <!-- sorts -->
        <div class="col-lg-6 col-12">
            <app-spells></app-spells>
        </div>
        <!-- traits de personnage -->
        <div class="col-lg-6 col-12">
            <app-traits></app-traits>
        </div>
    </div>
    <!-- journal -->
    <app-logs></app-logs>
</div>
