            <!-- info -->
            <h3 class="text-white text-center mb-3 mt-4">Informations</h3>
            <div class="row m-1">
                <div class="col-6 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Race
                            </h5>
                            <p class="card-text">
                                {{getCharactere().race}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Level & Class
                            </h5>
                            <p class="card-text">
                                {{getCharactere().level}}re-level
                                {{getCharactere().classe}}
                                ({{getCharactere().sousclasses}} )
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Background
                            </h5>
                            <p class="card-text">
                                {{getCharactere().background}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Synopsis
                            </h5>
                            <p class="card-text">
                                {{getCharactere().synopsis}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
