<div class="row">
    <h3 class="text-white text-center mb-3 mt-4">Journal</h3>
    <div class="col-sm-12 col-md-4 col-lg-3">
        <form>
            <label class="form-label text-white" for="dateheure">
                Date Heure
            </label>
            <input type="datetime" id="dateheure" class="form-control">
            <label class="form-label text-white mt-3" for="commentaire">
                Commentaire
            </label>
            <textarea id="commentaire" cols="30" rows="5" class="form-control text-white"></textarea>
        </form>
    </div>
    <div class="col-12 col-md-8 col-lg-9 mt-4">
        <div class="row alert alert-warning mt-2 mx-3">
            <div class="col-lg-2 col-4">
                2014-05-12 02:12
            </div>
            <div class="col-lg-10 col-8">
                We met a bard at the taverne who talk of a quest that is requested by the mayor.
            </div>
        </div>
        <div class="row alert alert-warning mt-2 mx-3">
            <div class="col-lg-2 col-4">
                2014-05-12-05:23
            </div>
            <div class="col-lg-10 col-8">
                Pick a fight with Silvis who laugh about me wanting a rat as familiar.... he win
            </div>
        </div>
    </div>
</div>
