<nav class="navbar navbar-expand-md navbar-light">
  <app-top-bar></app-top-bar>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <div class="container-fluid">
      <div class="row">
        <app-side-bar></app-side-bar>
      </div>
    </div>
  </div>
</nav>

<section class="container-fluid g-0">
  <div class="col-xl-9 col-lg-8 col-md-8 ms-auto g-0">
    <div class="row my-md-2 my-4"></div>
    <router-outlet></router-outlet>
<!--    <app-personnage></app-personnage>-->
  </div>

</section>
<app-bottom-bar></app-bottom-bar>
