<!-- Fixed Statistique -->
<section class="container-fluid g-0">
    <!-- Statistiques > MD -->
    <div class="col-xl-9 col-lg-8 col-md-8 mt-5 ms-auto fixed-top d-none d-md-inline">
        <div class="row text-center text-light bg-secondary mt-2 bg-transparent">
            <div class="row mt-1"></div>
            <app-statistic-row class="d-flex"></app-statistic-row>
        </div>
    </div>
    <!-- End Fixed Statistique -->

    <div class="row text-center text-light bg-secondary mt-2 d-md-none">
        <app-statistic-row class="d-flex"></app-statistic-row>
    </div>
</section>

<!-- Statistiques -->
