<div class="row fixed-top clearfix bg-dark align-items-center">
    <div class="col-2 col-sm-1 d-md-none">
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-5 ms-auto col-sm-11 col-10">
        <app-name></app-name>
    </div>
    <div class="col-xl-8 col-lg-7 col-md-7">
        <app-health-bar></app-health-bar>
    </div>
</div>
